body {
    background-color: linen;

}
{/*APP.JS -------------------- */}
nav {
    background-color: linen;
    border-radius: 5px;
    height: 60px;
    justify-content: flex-end;
    box-shadow: .25rem .15rem 1rem 0 rgba(0, 0, 0, 0.1);

}
nav ul {
    list-style-type: none;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}
.parkingAdam-header {
    background-color: firebrick;
    display: flex;
    justify-content: flex-end;
    box-shadow: .25rem .15rem 1rem 0 rgba(0, 0, 0, 0.1);

}
button {
    background-color: linen;
    height: 40px;
    width: 58px;
    color: firebrick;
    font-size: 6px;
}
ul {
    list-style-type: none;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}
.parkingAdam-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #006bbd;
    border-radius: 10px;
    box-shadow: .25rem .15rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.tab-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 1px;
}

ul {
    display: inline-block;
    list-style-type: none;

}
h1 {  margin-left: 25px;
    color: firebrick;

}
h2 {
    margin-left: 25px;

}


{/*NAAR COMPONENTS -------------------- */}
#Name {
    color: #FFB619;
}
#FreeShort, #FreeLong {
    background-color: #0d0208;
    min-width: 30px;
    height: 15px;
    color: #FFB619;
    padding: 5px;
    margin-left: 30px;

}
{/*NAAR COMPONENTS -------------------- */}
#CapShort, #CapLong {
    background-color: #0d0208;
    width: 20px;
    height: 15px;
    color: #FFB619;
    padding: 5px;
    margin-left: 20px;
}
{/*NAAR COMPONENTS -------------------- */}
#parkinglocation {
    display: inline-block;
    width: 180px;
    height: fit-content;
    margin-left: 20px;

    background-color: #006bbd;
    border-inline-color: #FFFFFF;
    border-width: 20px;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 10px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}
#parkinglocationdetails {
    display: inline-block;
    width: 180px;
    height: fit-content;
    margin-left: 20px;
    background-color: #006bbd;
    border-inline-color: #FFFFFF;
    border-width: 20px;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 10px;
    padding: 5px;
    margin-right: 3px;
    margin-bottom: 5px;
}
{/*NAAR COMPONENTS -------------------- */}
#parkinglocationfilter {
    display: inline-block;
    width: 180px;
    height: 50px;
    background-color: #006bbd;
    border-inline-color: #FFFFFF;
    border-width: 20px;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 10px;
    padding: 5px;
    margin-right: 3px;
    margin-bottom: 5px;


}
{/*BLIJFT IN APP.JS -------------------- */}
#penr, #locationFree, #centrum, #zuidoost, #zuid, #fiets, #west, #noord, #oost {
    display: inline-block;
    align-content: space-around;
    list-style-type: none;
    background-color: darkslategrey;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 10px;
}







{/*APP.JS -------------------- */}
#menuA {
    background-color: #006bbd;
    height: 20px;
    color: #FFB619;
    margin-left: 2px;
}
#tabmenu {
    background-color: #006bbd;
    align-content: center;
    height: 50px;
    font-size: 20px;
    color: #FFB619;
    borderradius: 5px;
    margin-left: 2px;

}
{/*STAAT IN PAGINAS -------------------- */}
#tilebox {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    alignment: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#tilebox-p {
    display: flex;
    alignment: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#pages {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #e2c681;
}

