body {
    background-color: linen;
}
@media screen and (min-width: 1900px) {
body {
    display: flex;
    justify-content: center;
    align-items: center;
}}

.parkingAdam-header {
    overflow: hidden;
    position: fixed;
    top:0;
    background-color: transparent;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.parkingAdam-footer {
    overflow: hidden;
    position: fixed;
    bottom:0;
    background-color: transparent;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.parkingAdam-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    display: flex;
    background-color: transparent;
    border-radius: 2px;
}

nav {
    background-color: #e2c681;
    border-radius: 5px;
    height: 60px;
    justify-content: flex-end;
    box-shadow: .25rem .15rem 1rem 0 rgba(0, 0, 0, 0.1);
}
nav ul {
    list-style: none;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}
.tab-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 1px;
}
ul {
    list-style-type: none;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}
ul {
    display: inline-block;
    list-style-type: none;
}
h1 {
    margin-left: 15px;
    color: linen;
}
h3 {
    margin-left: 15px;
    color: #e2c681;
}
h2 {
    margin-left: 25px;
}
h4 {
    font-size: 10px;
    color: linen;
    margin-left: 10px;
    margin-right: 5px;
}
h5 {
    font-size: 10px;
    color: linen;
    margin-left: 10px;
    margin-right: 5px;
}
#pages {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #e2c681;
}
