body {
    background-color: linen;
}
@media screen and (min-width: 1800px) {
body {
    display: flex;
    justify-content: center;
    align-items: center;
}}
.parkingAdam-header {
    background-color: green;
    display: flex;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-end;
    box-shadow: .25rem .15rem 1rem 0 rgba(0, 0, 0, 0.1);
}

{/*APP.JS -------------------- */}
nav {
    background-color: #e2c681;
    border-radius: 5px;
    height: 60px;
    justify-content: flex-end;
    box-shadow: .25rem .15rem 1rem 0 rgba(0, 0, 0, 0.1);
}
nav ul {
    list-style-type: none;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}

button {
    background-color: linen;
    display: flex;
    width: 40px;
    height: 40px;
    font-size: 8px;
    color: firebrick;
}

.form {
    background-color: green;
    width: 500px;
    height: 50px;
    color: white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    box-shadow: .25rem .15rem 1rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#button-page{
    background-color: #006bbd;
    display: flex;
    alignment-baseline: center;
    max-width: 500px;
    height: 50px;
    color: white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    box-shadow: .25rem .15rem 1rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

ul {
    list-style-type: none;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}
{/*PAGES WITH ROAD-------------------- */}
#parkingAdam-weg {
    display: inline-block;
    background-color: dimgray;
    width: fit-content;
    min-height: 1150px;
    max-width: 350px;
    align-content: space-around;
    list-style-type: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 10px;
    border-right: 8px solid white;
    border-left: 8px solid white;
    box-shadow: .25rem .15rem 1rem 0 rgba(0, 0, 0, 0.1);
}

#home-Page-weg, #pr-Page-weg {
    display: inline-block;
    background-color: dimgray;
    width: fit-content;
    min-height: 800px;
    max-width: 350px;
    align-content: space-around;
    list-style-type: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 10px;
    border-right: 8px solid white;
    border-left: 8px solid white;
    box-shadow: .25rem .15rem 1rem 0 rgba(0, 0, 0, 0.1);
}
#parkingAdam-weg-deel {
    display: inline-block;
    align-items: center;
    background-color: #e2c681;
    height: fit-content;
    width: 125px;
    align-content: space-around;
    list-style-type: none;
    border-radius: 5px;
    color: #FFFFFF;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
    font-size: 10px;
    box-shadow: .20rem .25rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.label-weg {
    background-color: dimgrey;
    margin-top: 100px;
    width: fit-content;
    height: 100px;
    color: white;
    font-size: 10px;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
    box-shadow: .25rem .15rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.label-weg-deel {
    background-color: darkslategrey;
    margin-top: 200px;
    width: fit-content;
    height: 80px;
    color: white;
    font-size: 10px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    box-shadow: .25rem .15rem 1rem 0 rgba(0, 0, 0, 0.1);
}
{/*app.js PAGES WITH ROAD---end----------------- */}
.parkingAdam-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #006bbd;
    border-radius: 10px;
    box-shadow: .25rem .15rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.tab-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 1px;
}

ul {
    display: inline-block;
    list-style-type: none;

}
h1 {  margin-left: 25px;
    color: firebrick;

}
h2 {
    margin-left: 25px;

}

{/*NAAR COMPONENTS -------------------- */}
#Name {
    color: #FFB619;
    font-size: 8px;
    width:5px;
}
#MoreInfo {
    color: linen;
    width: 240px;
    display: flex;
    flex-basis: 8px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 5px;
    border-left: 5px solid #ffb619;
    border-top: #ffb619;
    box-shadow: .25rem .15rem 1rem 0 rgba(0, 0, 0, 0.1);
    font-size: 8px;
}
#FreeShort, #FreeLong {
    background-color: #0d0208;
    min-width: 30px;
    height: 15px;
    color: #FFB619;
    padding: 5px;
    margin-left: 10px;
}
{/*NAAR COMPONENTS -------------------- */}

#CapShort, #CapLong {
    background-color: #0d0208;
    width: 20px;
    height: 15px;
    color: #FFB619;
    padding: 5px;
    margin-left: 20px;
}
{/*NAAR COMPONENTS ------check parkinglocation op display?-------------- */}
#parkinglocation {
    display: inline-block;
    width: 200px;
    height: fit-content;
    background-color: #006bbd;
    border-inline-color: #FFFFFF;
    border-radius: 12px;
    border: 5px solid white;
    color: #FFFFFF;
    font-size: 10px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 3px;
}
#parkinglocationdetails {
    display: inline-block;
    width: 239px;
    flex-basis: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 1px;
    background-color: #006bbd;
    border-inline-color: #FFFFFF;
    border-radius: 11px;
    border: 1px solid white;
    color: #FFFFFF;
    font-size: 10px;
    padding: 5px;
    margin-right: 3px;
    margin-bottom: 1px;
}
{/*NAAR COMPONENTS -------------------- */}
#parkinglocationfilter {
    display: inline-block;
    width: 115px;
    height: 60px;
    background-color: #006bbd;
    border-inline-color: #FFFFFF;
    border-radius: 12px;
    border: 1px solid white;
    color: #FFFFFF;
    font-size: 10px;
    padding: 1px;
    margin-bottom: 1px;
}
{/*BLIJFT IN APP.JS -------------------- */}
#penr, #locationFree, #centrum, #zuidoost, #zuid, #fiets, #west, #noord, #oost {
    display: block;
    width: 120px;
    align-content: space-around;
    list-style-type: none;
    background-color: darkslategrey;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 10px;
}
#penr-details, #centrum-details, #zuidoost-details, #zuid-details, #fiets-details, #west-details, #oost-details
{
    display: inline-block;
    list-style-type: none;
    width: fit-content;
    background-color: darkslategrey;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 10px;
}

{/*STAAT IN PAGINAS -------------------- */}
#tilebox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#tilebox-p {
    display: flex;
    alignment: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#pages {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #e2c681;
}

